.username-input-container {
  height: 39px;
  width: 240px;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  height: 4rem;
  font-size: 1.4rem;
  border: 0.1rem solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
  padding: 0 1.5rem;
  margin-left: 1rem;
}
